/* @theme: default; */

$resource-library-section-offset-bottom: 30px !default;

$resource-library-section-title-offset-bottom: 8px !default;

$resource-library-section-video-width: 100% !default;
$resource-library-section-video-max-width: 776px !default;
$resource-library-section-video-offset: 16px auto 24px !default;
$resource-library-section-video-flex-shrink: 0 !default;
$resource-library-section-video-flex-grow: 0 !default;
$resource-library-section-video-position: relative !default;

$resource-library-section-description-offset-bottom: 30px !default;
