/* @theme: default; */

$resource-library-newsposts-offset: 0 36px 30px !default;
$resource-library-newsposts-overflow: hidden !default;
$resource-library-newsposts-white-space: nowrap !default;

$resource-library-newsposts-item-width: calc(#{100%} / #{3}) !default;
$resource-library-newsposts-item-display: inline-block !default;
$resource-library-newsposts-item-offset: 0 15px !default;
$resource-library-newsposts-item-vertical-align: top !default;
$resource-library-newsposts-item-white-space: normal !default;

$resource-library-newsposts-slick-arrow-top: 60px !default;

$resource-library-newsposts-slick-list-offset: 0 -51px !default;

$resource-library-newsposts-slick-arrow-slick-list-offset: 0 !default;

$resource-library-newsposts-embedded-arrows-offset-bottom: 30px !default;

// Tablet
$resource-library-newsposts-item-tablet-width: 50% !default;
$resource-library-newsposts-item-tablet-offset: 0 8px !default;

$resource-library-newsposts-slick-list-tablet-offset: 0 -44px !default;

// Mobile Big
$resource-library-newsposts-item-mobile-big-width: 100% !default;
