/* @theme: blank; */

$resource-library-newspost-image-offset-bottom: 12px !default;

$resource-library-newspost-image-img-width: 100% !default;
$resource-library-newspost-image-img-height: 276px !default;
$resource-library-newspost-image-img-display: block !default;
$resource-library-newspost-image-img-object-fit: cover !default;
