/* @theme: blank; */

$resource-library-specifications-offset-top: 30px !default;
$resource-library-specifications-offset-left: -40px !default;
$resource-library-specifications-display: flex !default;
$resource-library-specifications-flex-wrap: wrap !default;

$resource-library-specifications-item-width: calc(100% / 3) !default;
$resource-library-specifications-item-offset-bottom: 30px !default;
$resource-library-specifications-item-inner-offset-left: 40px !default;
$resource-library-specifications-item-flex-grow: 0 !default;
$resource-library-specifications-item-flex-shrink: 0 !default;

$resource-library-specifications-title-offset-bottom: 8px !default;

$resource-library-specifications-description-offset: 8px 0 !default;

// Tablet
$resource-library-specifications-tablet-offset-left: -25px !default;

$resource-library-specifications-item-tablet-width: 50% !default;
$resource-library-specifications-item-tablet-inner-offset-left: 20px !default;

// Mobile Big
$resource-library-specifications-mobile-big-offset-left: 0 !default;
$resource-library-specifications-mobile-big-display: block !default;

$resource-library-specifications-item-mobile-big-width: auto !default;
$resource-library-specifications-item-mobile-big-inner-offset-left: 0 !default;
